h1, h2, h3, h4 ,h5 {
    font-family: 'Bangers', cursive;
}


a, p {
    font-family: 'Indie Flower', cursive;
}

.a__estilo {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}


h3 {
	a {
		 text-decoration:none 
		}
}