* {
    padding: 0;
    margin: 0;
}



.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
   
}
.footerimg {
    height: 50px;
    width: 50px;
}



.a__estilo{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}

.navbar {
    justify-content: flex-start;
}

header {
    background-color: #fae8eb;
}

main {
    background-color: #f6caca;
}

.cardcolor {
    background-color: #cd9fcc;
}

.cardcolor img {
    width: 100%;
}

.card {
    background-color: #cd9fcc;
}

footer {
    background-color: #0a014f;
}

footer p {
    color: aliceblue;
}

h1, h2 , h3 , h4 , h5 {
    font-family: 'Bangers', cursive;
}


h3 a {
    text-decoration: none;
}


a, p { 
    font-family: 'Indie Flower', cursive;
}

/* PRODUCTOS */ 

#navproductos {
    background-color: #f6caca;
}