header {
	background-color: map-get($colors, headercolor );
}

#navcolor {
	background-color: map-get($colors,headercolor );
	color: map-get($colors ,headercolor );
	
}
.navbar {
	bg-light {
		color:  map-get($colors,headercolor );
	}
}

ul {
	li{
		transition: box-shadow .3s;
		&:hover {
			box-shadow: 0 0 11px rgba(33,33,33,.2); 
		}
	}
}