header {
	background-color: $color_header;
}

#navcolor {
	background-color: $color_header;
	color: $color_header;
	a {
		&:hover {
			box-shadow: -4px 3px 37px 10px #EFA5CE;
		}
	}
}
.navbar {
	bg-light {
		color: $color_header;
	}
}